body{
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #d4ebd0;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    height: 600px;
    margin: 10px;
    display: grid;
    grid-template-areas:
    'navigation'
    'dashboard'
    'footer';
    background-color: #d4ebd0;
    box-shadow: 0px 1px 15px 4px #888870;
}
.navigation{
    grid-area: navigation;
    height: 50px;
    display: grid; 
    grid-template-areas: 'menu . . logout';
}
.menu{
    grid-area: menu;
    margin-top: 15px;
}
.menu ul{
    list-style-type: none;
    display: inline;
}
.menu ul li{
    display: inline;
}
.menu_item{
    margin-right: 15px;
}
.logout{
    grid-area: logout;
}
.gg-log-off{
    margin-right: 20px;
    float: right;
    margin-top: 15px;
}
.dashboard{
    grid-area: dashboard;
    height: 500px;
    display: grid;
    grid-template-areas: 'posts edit';
}
.posts{
    grid-area: posts;
    width: 500px;
    margin: 15px;
    height: 450px;
    overflow: auto;
}
.post{
    display: grid;
    grid-template-areas: 'title title'
                         'content content';
    height: 150px;
    box-shadow: -2px -3px 20px 0px #888870;
}
.post_title{
    grid-area: title;
}
.post_content{
    grid-area: content;
}
.btn_edit{
    grid-area: btn_edit;
    height: 30px;
    width: 30px;
}
.gg-edit-markup{
    margin-left: -4px;
}
.btn_delete{
    grid-area: btn_delete;
    height: 30px;
    width: 30px;
    margin-left: -30px;
}
.gg-erase{
    margin-left: -3px;
}
.edit{
    grid-area: edit;
    width: 700px;
    margin: 15px;
    display: grid;
    grid-template-areas: 'new_title save_title'
                         'new_content save_content';
}
#title{
    grid-area: new_title;
    margin-bottom: 10px;
    width: 650px;
}
.save_title{
    grid-area: save_title;
    height: 20px;
    width: 20px;
}
#content{
    grid-area: new_content;
    height: 400px;
    width: 650px;
    overflow: auto;
}
.save_content{
    grid-area: save_content;
    height: 20px;
    width: 20px;
}
.save_all{
    width: 150px;
    margin-top: 10px;
}
.delete_all{
    width: 150px;
    margin-top: 10px;
    margin-left: -160px;
}
.gg-check{
    margin: -7px;
}
.footer{
    grid-area: footer;
    height: 30px;
    text-align: center;
}
button{
    border-radius: 8px;
}
.users{
    grid-area: posts;
    display: inline-block;
    margin: 20px;
}
.user{
    width: 150px;
    height: 90px;
    display: inline;
}