body{
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
button{
    margin-top: 10px;
    text-align: center;
    border-radius: 8px;
}
.wrapper{
    display: grid;
    grid-template-areas:
      'header'
      'navigation'
      'content'
      'footer';
    grid-gap: 10px;
    padding: 10px;
    background-color: #d4ebd0;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    box-shadow: 0px 1px 19px 11px #888870;
}
.header{
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: auto;
    grid-area: header;
    display: grid;
    grid-template-areas: 
        'login . . .';
   clip-path: circle(66.9% at 44% 35%);
   margin-top: -15px;
   margin-left: -10px;
   margin-right: -10px;
}
.login{
    grid-area: login;
    width: 20px;
    height: 20px;
    margin-right: 80%;
    margin-top: 10px;
    margin-left: 30px;
}
.navigation{
    grid-area: navigation;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: 90px;
    margin-top: -200px;
    z-index: 2;
}
.navigation ul{
   list-style-type: none;
}
.navigation ul li {
    display: inline;
    margin-right: 25px;
    font-size: 20px; 
}
.content{
    grid-area: content;
    background-color:#d4ebd0;    
    height:auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.post{
    grid-area: post;
    display: grid;
    grid-template-areas:
    'post_title post_title post_title'
    'post_tumbnail post_content post_content'
    'post_tumbnail post_content post_content';
    width: auto;
    height: auto;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 15px 4px #888870;
}
.post_title{
    grid-area: post_title;
    height: 50px; 
    text-align: center;
    font-size: 20px; 
}
.post_image{
    grid-area: post_tumbnail;
    height: 230px;
    width: 150px;
    background-image: url('../img/tumbnail.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
}
.post_content{
    grid-area: post_content;
    height: auto;
    margin: 10px;
    font-size: 18px;
}
.footer{
    grid-area: footer;
    background-color:#d4ebd0;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px; 
    display: grid;
    grid-template-areas: 'contact . . copyrights';
}
.contact_information{
    grid-area: contact;
    margin-left: 35px;
}
.contact_information div{
    display: flex;
    margin-top: 10px;
}
.contact_information div i 
{
    margin-left: 0;
    margin-right: 5px;
}
.gg-patreon
{
    margin-right: 15px !important;
    left: 0 !important;
}
.copyrights{
    grid-area: copyrights;
    font-size: 14px;
    margin-left: 450px;
    margin-top: 102px;
}
.single_post{
    margin: 20px;
    margin-top: -56px;
}
.single_title{
    text-align: center;
    text-transform: uppercase;
}
.single_image{
    height: 330px;
    width: 250px;
    background-image: url('../img/tumbnail.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}
.single_author, .single_date{
    font-size: 15px;
}
.comment{
    margin-right: 50%;
    background: white;
    font-size: 15px;
    margin-top: 20px;
}
#new_comment{
    height: 50px;
    width: 250px;
}
#nickname{
    width: 170px;
    margin-bottom: 10px;
}
.delete_comment{
    float: right;
    margin-top: -18px;
    margin-right: 5px;
}
.split_login{
    display: grid;
    grid-template-areas: 'login register';
    margin:auto;
}
.login_form{
    grid-area: login;
    width: 50%;
    padding: 20px;
    margin-left: auto;
    padding-right: 90px;
}
.login_form form{
    margin-top: 100px;
}
.register_form{
    grid-area: register;
    width: 50%;
    padding: 20px;
    margin-right: auto;
    padding-left: 90px;;
}
