<div>
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email" ng-model="email">
                        </div>
                        <div class="form-group">
                            <label>Lozinka</label>
                            <input type="password" class="form-control" placeholder="Lozinka" ng-model="password">
                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" ng-click="Login()" >
                            Prijava
                        </button>
                        <div class="register-link m-t-15 text-center">
                            <p>Nemaš račun ? <a data-toggle="modal" data-target="#register_modal"> Registriraj se ovdje</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>   
</div>

<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Registriraj se:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login-content">
                    <div class="login-form">
                        <form>
                            <div class="form-group">
                                <label>Korisničko ime</label>
                                <input type="text" class="form-control" placeholder="Korisničko ime" ng-model="username">
                            </div>
                            <div class="form-group">
                                <label>Email adresa</label>
                                <input type="email" class="form-control" placeholder="Email" ng-model="email_reg">
                            </div>
                            <div class="form-group">
                                <label>Lozinka</label>
                                <input type="password" class="form-control" placeholder="Lozinka" ng-model="password_reg">
                            </div>
                            <div class="form-group">
                                <label>Ime</label>
                                <input type="text" class="form-control" placeholder="Ime" ng-model="firstname">
                            </div>
                            <div class="form-group">
                                <label>Prezime</label>
                                <input type="text" class="form-control" placeholder="Prezime" ng-model="lastname">
                            </div>
                            <div class="form-group">
                                <label>Broj telefona</label>
                                <input type="text" class="form-control" placeholder="Broj telefona" ng-model="phone">
                            </div>
                            <div class="form-group">
                                <label>Datum rođenja</label>
                                <input type="text" class="form-control" placeholder="dd/mm/yyyy" ng-model="birth_date">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary" ng-click="Register()">Registracija</button>
            </div>
        </div>
    </div>
</div>