<div class="row form-group">
    <div class="col-12 col-md-9">
        <input type="text" id="text-input" name="text-input" placeholder="Naslov..." class="form-control" ng-model="new_title">
    </div>
    <div class="col-12 col-md-9">
        <textarea name="textarea-input" id="textarea-input" rows="15" placeholder="Sadržaj..." class="form-control" ng-model="new_content"></textarea>
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-3">
        <label for="file-input" class=" form-control-label">Dodaj sliku</label>
    </div>
    <div class="col-12 col-md-9">
        <input type="file" id="file-input" name="file-input" class="form-control-file" file-input="files">
    </div>
    <div class="col-md-6">  
        <button class="btn btn-info" ng-click="uploadFile()">Upload</button>  
   </div> 
   <!-- <div class="col-md-3" ng-repeat="image in images">  
        <img ng-src="../lifeonadelay/upload/{{image.name}}" width="200" height="200" style="padding:16px; border:1px solid #f1f1f1; margin:16px;" />  
   </div>-->  
</div>
<div class="card-footer">
    <button type="submit" class="btn btn-primary btn-sm" ng-click="AddNewPost(1)">
        <i class="fa fa-dot-circle-o"></i> Spremi
    </button>
    <button type="reset" class="btn btn-danger btn-sm">
        <i class="fa fa-ban"></i> Odustani
    </button>
</div>