<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Life on a delay</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.min.js"></script>
        
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/admin.css">
        <link href="https://css.gg/css?=|add|log-off|profile|edit-markup|check|erase" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <div class="navigation">
                <div class="menu">
                    <ul >
                        <li class="menu_item"><a href="">Početna</a></li>
                        <li class="menu_item"><a href="">Zahtjevi</a></li>
                    </ul>   
                </div>
                <div class="logout">
                        <a><i class="gg-log-off"></i></a> 
                </div>
            </div>
            <div class="dashboard">
                <div class="users"> 
                        <div class="user">
                            <div class="username">Maja</div>
                            <div class="email">maja.majic@gmail.com</div>
                            <div class="dob">1.1.1991.</div>
                            <button class="accept">Prihvati</button>
                            <button class="delete">Obriši</button>
                        </div> 
                        <div class="user">
                            <div class="username">Pero</div>
                            <div class="email">pero.djetlic@gmail.com</div>
                            <div class="dob">1.1.1991.</div>
                            <button class="accept">Prihvati</button>
                            <button class="delete">Obriši</button>
                        </div> 
                        <div class="user">
                            <div class="username">Ivo</div>
                            <div class="email">ivo1986@gmail.com</div>
                            <div class="dob">1.1.1991.</div>
                            <button class="accept">Prihvati</button>
                            <button class="delete">Obriši</button>
                        </div> 
                        <div class="user">
                            <div class="username">Marko</div>
                            <div class="email">kalamarko@gmail.com</div>
                            <div class="dob">1.1.1991.</div>
                            <button class="accept">Prihvati</button>
                            <button class="delete">Obriši</button>
                        </div> 
                </div>
            </div>
            <footer class="footer">
                <div class="copyrights">
                    &copy; 2020.
                </div>
            </footer>
        </div>
    </body>
</html>