<div ng-init="LoadPosts()">
    <!-- Post -->
			<div class="post" ng-repeat="post in posts">
				<!-- Heading -->
				<a href="#"><h1>{{post.title}}</h1></a>
				<hr>
				<div class="in-content">
                    <img class="right" src="img/post-img.jpg" alt="">
					<p>
						{{post.content | limitTo: 500}}...
					</p>
					<a class="read-more" href="#!post_single/{{post.id}}">Read more</a>
				</div>
				<div class="foot-post">
					<div class="units-row">
					    <div class="unit-100">
					    	<a href="#">{{post.date | limitTo: 10  | date: dd.mm.yyyy}}</a>,
					    	<a href="#">{{post.author_name}}</a>,
					    </div>
					</div>
				</div>
			</div>
			<!-- /post -->
</div>
